ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.goHome {
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 800;
  color: black;
  cursor: default;
}

.goHome:hover {
  color: rgb(114, 150, 223);
  font-size: 20px;
  text-decoration: underline;
}

.wrapper {
  position: relative;
  max-width: 1170px;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.imgPageMovie {
  border-radius: 20px;
}

.heading {
  position: absolute;
  left: 460px;
  bottom: 398px;
  font-size: 44px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
}

.title {
  position: absolute;
  left: 461px;
  bottom: 13px;
  font-size: 20px;
  font-weight: 600;
  background-image: linear-gradient(to left, #190c3f, #795d96);
  color: transparent;
  background-clip: text;
}

.itemList {
  margin: 22px 0;
}
.Additional-inform {
  max-width: 1370px;
  margin-top: 20px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
  border: 1px solid gray;
}

.titleAdditionalInfo {
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 800;
  color: black;
}

.link {
  font-size: 15px;
  letter-spacing: 3px;
  color: black;
}

.link:hover {
  color: rgb(114, 150, 223);
  font-size: 18px;
  text-decoration: underline;
}
