.goHome {
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 800;
  color: black;
  cursor: default;
}

.goHome:hover {
  color: rgb(114, 150, 223);
  font-size: 20px;
  text-decoration: underline;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.heading {
  padding-bottom: 15px;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
}
.itemList {
  padding-bottom: 15px;
}

.Additional-inform {
  max-width: 1370px;
  margin-top: 20px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
}

.titleAdditionalInfo {
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 800;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
}

.link {
  font-size: 15px;
  letter-spacing: 3px;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
}

.link:hover {
  color: rgb(114, 150, 223);
  font-size: 18px;
  text-decoration: underline;
}
