.wrapperSearch {
  max-width: 1370px;
}

.list-item {
  display: flex;
  margin-bottom: 10px;
}

.imgSearch {
  display: block;
  max-width: 100%;
  width: 212px;
  height: auto;
  border-radius: 15px;
}

.titleMovie {
  margin-bottom: 20px;
}

.titleMovie h1 {
  margin-left: 20px;
}

.titleMovie p {
  margin-left: 20px;
}
