.headLink {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 800;
  color: inherit;
  cursor: default;
}

.headLink:hover {
  color: rgb(114, 150, 223);
  font-size: 25px;
  text-decoration: underline;
}
